<a href="https://colab.research.google.com/github/vijaya-123-bg/Python-course-/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Pandas Library

 Pandas is a powerful, open-source data manipulation and analysis library for the Python programming language. It provides data structures and functions needed to work with structured data seamlessly, making it a favorite tool for data scientists and analysts.
High Performance Data Analysis Tool
Working With Large Data Set.
Load Files With Different Format
More Flexible
Represents In Tabular Way(Rows & Columns)
Working On Missing Data
Indexing-Slicing
Reshape Datasets

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
l = [1,2,3,4,56]




Creating Series in Pandas(A one-dimensional labeled array capable of holding any data type (integers, strings, floating-point numbers, etc.).

In [ ]:
pd.Series(l)

0     1
1     2
2     3
3     4
4    56
dtype: int64

**We can assign index values by our convient**

In [ ]:
pd.Series(l, index=["i","ii","iii","iv","v"])

i       1
ii      2
iii     3
iv      4
v      56
dtype: int64

In [ ]:
d = {"name":["santhosh", "hello","rajesh"], "percentage":[90,65,80]}

**DataFrame**(A two-dimensional, size-mutable, and potentially heterogeneous tabular data structure with labeled axes (rows and columns). It's similar to a table in a database or an Excel spreadsheet)

In [ ]:
pd.DataFrame(d)

       name  percentage
0  santhosh          90
1     hello          65
2    rajesh          80

**Different Way Of Creating Series In Pandas**

**Creating Empty Series**

In [ ]:
sd = pd.Series()

In [ ]:
print(sd)

Series([], dtype: object)

**Creating Series using List**

In [ ]:
l = [10,20,30,40,50]
print(l)

[10, 20, 30, 40, 50]

In [ ]:
sd = pd.Series(l)
print(sd)

0    10
1    20
2    30
3    40
4    50
dtype: int64

**Creating Series Using Arrays**

In [ ]:
a = np.array([60,70,80,90,100])

In [ ]:
a

array([ 60,  70,  80,  90, 100])

In [ ]:
print(a)

[ 60  70  80  90 100]

In [ ]:
sd = pd.Series(a)
print(sd)

0     60
1     70
2     80
3     90
4    100
dtype: int64

**Creating Series Using Dictionary**

In [ ]:
d = {"a":10,"b":20,"c":30}
print(d)

{'a': 10, 'b': 20, 'c': 30}

In [ ]:
sd = pd.Series(d)
print(sd)

a    10
b    20
c    30
dtype: int64

**Different Way of Creating Dataframes In Pandas**

**Using Excel**

In [ ]:
d = pd.read_excel("/content/drive/MyDrive/Dataset/Studentdata.xlsx")
print(d)

          Name  Science  English  History  Maths
0      Bronnie       21       81       62     49
1       Lemmie       29       41       17     40
2        Danya       12       87       16     96
3        Denna       15       53       82     33
4      Jocelin       43        6        3     21
5      Malissa       98       51       85     76
6      Ichabod       38       74       54     60
7     Beverlie       25       51       41     80
8      Corrine       39       16       22     49
9         Tate       35       25       37     27
10        Dunn      100       93       87     81
11     Valaria       19        5       78     76
12     Merrick       65       89       96     34
13      Gracie       93       38       39     93
14       Missy       98       18       84     74
15    Gilberta       53       30       90     64
16       Peggy       91       45       44     45
17        Dory        5       89       25     23
18     Opalina       62       77       75     72
19      Ashlan       41        6       17      3
20       Amery       76       96       67     17
21     Benoite        3       55       14     90
22       Merle        5       83       19     39
23       Valma       48       83       79     95
24        Jone       17       87       16     50
25         Rae       16       59       18     64
26    Charmine       93       93       83     40
27       Hanan       60       36       86     87
28      Adrian       19        8       76     75
29       Livia       95       65       25     91
30      Richie       14       83        9     90
31   Ekaterina       17       36       45     27
32       Tamra       17       74       11     49
33       Zarla       54       18       46     17
34       Tommy        5       75       13     61
35  Anna-diane       93       53       10     29
36        Josh       54       23       19     94
37    Claudina       90       62       45     21
38        Adah       71       90       78     35
39      Luelle      100       52       89     76
40    Johannes       10       78       56     41
41       Hetty       21       89       72     84
42     Brandie       43        2       17     78
43       Arvie       26       46       81     63
44     Jacenta       65        7       57     27
45       Teddy       50       22       50     78
46     Everett       84       57       25     57
47        Lyda       78       58        1     33
48       Vinny       81       25       99     13
49      Karrie       94       15       66     34
50       Skipp       31       37       77     79
51      Rollie       17       99       29     85
52       Ruben       15       84       40     40
53      Tabbie       23       44       76     46
54        Lief       55       64       56     69

In [ ]:
df = pd.DataFrame(d)
print(df)

**Using Csv**

In [ ]:
d = pd.read_csv("/content/drive/MyDrive/Dataset/student-scores.csv")
print(d)

        id first_name last_name                                    email  \
0        1       Paul     Casey           paul.casey.1@gslingacademy.com
1        2   Danielle  Sandoval    danielle.sandoval.2@gslingacademy.com
2        3       Tina   Andrews         tina.andrews.3@gslingacademy.com
3        4       Tara     Clark           tara.clark.4@gslingacademy.com
4        5    Anthony    Campos       anthony.campos.5@gslingacademy.com
...    ...        ...       ...                                      ...
1995  1996       Alan  Reynolds     alan.reynolds.1996@gslingacademy.com
1996  1997     Thomas   Gilbert    thomas.gilbert.1997@gslingacademy.com
1997  1998    Madison     Cross     madison.cross.1998@gslingacademy.com
1998  1999   Brittany   Compton  brittany.compton.1999@gslingacademy.com
1999  2000    Natalie     Smith     natalie.smith.2000@gslingacademy.com

      gender  part_time_job  absence_days  extracurricular_activities  \
0       male          False             3                       False
1     female          False             2                       False
2     female          False             9                        True
3     female          False             5                       False
4       male          False             5                       False
...      ...            ...           ...                         ...
1995    male          False             2                       False
1996    male          False             2                       False
1997  female          False             5                       False
1998  female           True            10                        True
1999  female          False             5                       False

      weekly_self_study_hours      career_aspiration  math_score  \
0                          27                 Lawyer          73
1                          47                 Doctor          90
2                          13     Government Officer          81
3                           3                 Artist          71
4                          10                Unknown          84
...                       ...                    ...         ...
1995                       30  Construction Engineer          83
1996                       20      Software Engineer          89
1997                       14      Software Engineer          97
1998                        5         Business Owner          51
1999                       27             Accountant          82

      history_score  physics_score  chemistry_score  biology_score  \
0                81             93               97             63
1                86             96              100             90
2                97             95               96             65
3                74             88               80             89
4                77             65               65             80
...             ...            ...              ...            ...
1995             77             84               73             75
1996             65             73               80             87
1997             85             63               93             68
1998             96             72               89             95
1999             99             91               69             83

      english_score  geography_score
0                80               87
1                88               90
2                77               94
3                63               86
4                74               76
...             ...              ...
1995             84               82
1996             67               73
1997             94               78
1998             88               75
1999             93              100

[2000 rows x 17 columns]

In [ ]:
df = pd.DataFrame(d)
print(df)

Using Dictionary

In [ ]:
d = {
    "Name of Student": ["sany","gopi","klin"],
    "Roll No": [101, 102, 103,],
    "Telugu":[90,80,75],
    "English": [90,90,89]

}
print(d)

In [ ]:
j = pd.DataFrame(d)

In [ ]:
print(j)

In [ ]:
s = pd.Series([10,20,30,40,50], name="Numbers")

In [ ]:
print(s)

**Returns all Index Values(index)**

In [ ]:
s.index

**Returns Values in array format**

In [ ]:
s.array

**Returns Values**

In [ ]:
s.values

**Returns DataType**

In [ ]:
s.dtype

**Returns the shape of the series**

In [ ]:
s.shape

**Returns the dimensional values**

In [ ]:
s.ndim

**nbytes gives the memory occupied by values**

In [ ]:
s.nbytes

**memory_uasge occupied by both index and values**

In [ ]:
s.memory_usage()

**Size of the Series**

In [ ]:
s.size

**Name of the series**

In [ ]:
s.name

**Checking empty or not**

In [ ]:
s.empty

**Mathematical Functions On Series**

In [ ]:
 a = pd.Series([10,20,30,40,50])

In [ ]:
b = pd.Series([5,4,3,2,1])

In [ ]:
print(a)

In [ ]:
a+b

In [ ]:
a.add(b)

In [ ]:
a-b

In [ ]:
a.subtract(b)

In [ ]:
a*b

In [ ]:
a.multiply(b)

In [ ]:
a/b

In [ ]:
a%b

In [ ]:
a<b

In [ ]:
a>b

In [ ]:
a==b

In [ ]:
a.gt(b)

In [ ]:
a.le(b)

In [ ]:
a.eq(b)

**Indexing And Slicing DataFrames In Python**

In [ ]:
l = pd.read_excel("/content/drive/MyDrive/Dataset/Studentdata.xlsx")
print(l)

          Name  Science  English  History  Maths
0      Bronnie       21       81       62     49
1       Lemmie       29       41       17     40
2        Danya       12       87       16     96
3        Denna       15       53       82     33
4      Jocelin       43        6        3     21
5      Malissa       98       51       85     76
6      Ichabod       38       74       54     60
7     Beverlie       25       51       41     80
8      Corrine       39       16       22     49
9         Tate       35       25       37     27
10        Dunn      100       93       87     81
11     Valaria       19        5       78     76
12     Merrick       65       89       96     34
13      Gracie       93       38       39     93
14       Missy       98       18       84     74
15    Gilberta       53       30       90     64
16       Peggy       91       45       44     45
17        Dory        5       89       25     23
18     Opalina       62       77       75     72
19      Ashlan       41        6       17      3
20       Amery       76       96       67     17
21     Benoite        3       55       14     90
22       Merle        5       83       19     39
23       Valma       48       83       79     95
24        Jone       17       87       16     50
25         Rae       16       59       18     64
26    Charmine       93       93       83     40
27       Hanan       60       36       86     87
28      Adrian       19        8       76     75
29       Livia       95       65       25     91
30      Richie       14       83        9     90
31   Ekaterina       17       36       45     27
32       Tamra       17       74       11     49
33       Zarla       54       18       46     17
34       Tommy        5       75       13     61
35  Anna-diane       93       53       10     29
36        Josh       54       23       19     94
37    Claudina       90       62       45     21
38        Adah       71       90       78     35
39      Luelle      100       52       89     76
40    Johannes       10       78       56     41
41       Hetty       21       89       72     84
42     Brandie       43        2       17     78
43       Arvie       26       46       81     63
44     Jacenta       65        7       57     27
45       Teddy       50       22       50     78
46     Everett       84       57       25     57
47        Lyda       78       58        1     33
48       Vinny       81       25       99     13
49      Karrie       94       15       66     34
50       Skipp       31       37       77     79
51      Rollie       17       99       29     85
52       Ruben       15       84       40     40
53      Tabbie       23       44       76     46
54        Lief       55       64       56     69

In [ ]:
df = pd.DataFrame(l)

In [ ]:
print(df)

          Name  Science  English  History  Maths
0      Bronnie       21       81       62     49
1       Lemmie       29       41       17     40
2        Danya       12       87       16     96
3        Denna       15       53       82     33
4      Jocelin       43        6        3     21
5      Malissa       98       51       85     76
6      Ichabod       38       74       54     60
7     Beverlie       25       51       41     80
8      Corrine       39       16       22     49
9         Tate       35       25       37     27
10        Dunn      100       93       87     81
11     Valaria       19        5       78     76
12     Merrick       65       89       96     34
13      Gracie       93       38       39     93
14       Missy       98       18       84     74
15    Gilberta       53       30       90     64
16       Peggy       91       45       44     45
17        Dory        5       89       25     23
18     Opalina       62       77       75     72
19      Ashlan       41        6       17      3
20       Amery       76       96       67     17
21     Benoite        3       55       14     90
22       Merle        5       83       19     39
23       Valma       48       83       79     95
24        Jone       17       87       16     50
25         Rae       16       59       18     64
26    Charmine       93       93       83     40
27       Hanan       60       36       86     87
28      Adrian       19        8       76     75
29       Livia       95       65       25     91
30      Richie       14       83        9     90
31   Ekaterina       17       36       45     27
32       Tamra       17       74       11     49
33       Zarla       54       18       46     17
34       Tommy        5       75       13     61
35  Anna-diane       93       53       10     29
36        Josh       54       23       19     94
37    Claudina       90       62       45     21
38        Adah       71       90       78     35
39      Luelle      100       52       89     76
40    Johannes       10       78       56     41
41       Hetty       21       89       72     84
42     Brandie       43        2       17     78
43       Arvie       26       46       81     63
44     Jacenta       65        7       57     27
45       Teddy       50       22       50     78
46     Everett       84       57       25     57
47        Lyda       78       58        1     33
48       Vinny       81       25       99     13
49      Karrie       94       15       66     34
50       Skipp       31       37       77     79
51      Rollie       17       99       29     85
52       Ruben       15       84       40     40
53      Tabbie       23       44       76     46
54        Lief       55       64       56     69

**Head will give first five rows**

In [ ]:
df.head()

In [ ]:
df.head(10)

**Tail will give last Five rows**

In [ ]:
df.tail()

In [ ]:
df.tail(10)

In [ ]:
df.describe()

          Science    English    History      Maths
count   55.000000  55.000000  55.000000  55.000000
mean    47.672727  53.327273  49.163636  55.818182
std     31.760711  29.268270  29.319292  25.793403
min      3.000000   2.000000   1.000000   3.000000
25%     18.000000  27.500000  19.000000  34.000000
50%     43.000000  53.000000  46.000000  57.000000
75%     77.000000  82.000000  77.500000  78.000000
max    100.000000  99.000000  99.000000  96.000000

In [ ]:
df.columns

**Giving Number of Rows And Columns**

In [ ]:
df.shape

**Acessing Column Data**

In [ ]:
df["Name"]

0        Bronnie
1         Lemmie
2          Danya
3          Denna
4        Jocelin
5        Malissa
6        Ichabod
7       Beverlie
8        Corrine
9           Tate
10          Dunn
11       Valaria
12       Merrick
13        Gracie
14         Missy
15      Gilberta
16         Peggy
17          Dory
18       Opalina
19        Ashlan
20         Amery
21       Benoite
22         Merle
23         Valma
24          Jone
25           Rae
26      Charmine
27         Hanan
28        Adrian
29         Livia
30        Richie
31     Ekaterina
32         Tamra
33         Zarla
34         Tommy
35    Anna-diane
36          Josh
37      Claudina
38          Adah
39        Luelle
40      Johannes
41         Hetty
42       Brandie
43         Arvie
44       Jacenta
45         Teddy
46       Everett
47          Lyda
48         Vinny
49        Karrie
50         Skipp
51        Rollie
52         Ruben
53        Tabbie
54          Lief
Name: Name, dtype: object

In [ ]:
df["Name"].head()

**Acessing Multiple Columns Data**

In [ ]:
df[["Name","Science","Maths"]]

          Name  Science  Maths
0      Bronnie       21     49
1       Lemmie       29     40
2        Danya       12     96
3        Denna       15     33
4      Jocelin       43     21
5      Malissa       98     76
6      Ichabod       38     60
7     Beverlie       25     80
8      Corrine       39     49
9         Tate       35     27
10        Dunn      100     81
11     Valaria       19     76
12     Merrick       65     34
13      Gracie       93     93
14       Missy       98     74
15    Gilberta       53     64
16       Peggy       91     45
17        Dory        5     23
18     Opalina       62     72
19      Ashlan       41      3
20       Amery       76     17
21     Benoite        3     90
22       Merle        5     39
23       Valma       48     95
24        Jone       17     50
25         Rae       16     64
26    Charmine       93     40
27       Hanan       60     87
28      Adrian       19     75
29       Livia       95     91
30      Richie       14     90
31   Ekaterina       17     27
32       Tamra       17     49
33       Zarla       54     17
34       Tommy        5     61
35  Anna-diane       93     29
36        Josh       54     94
37    Claudina       90     21
38        Adah       71     35
39      Luelle      100     76
40    Johannes       10     41
41       Hetty       21     84
42     Brandie       43     78
43       Arvie       26     63
44     Jacenta       65     27
45       Teddy       50     78
46     Everett       84     57
47        Lyda       78     33
48       Vinny       81     13
49      Karrie       94     34
50       Skipp       31     79
51      Rollie       17     85
52       Ruben       15     40
53      Tabbie       23     46
54        Lief       55     69

**Slicing **

In [ ]:
df[1:10]

       Name  Science  English  History  Maths
1    Lemmie       29       41       17     40
2     Danya       12       87       16     96
3     Denna       15       53       82     33
4   Jocelin       43        6        3     21
5   Malissa       98       51       85     76
6   Ichabod       38       74       54     60
7  Beverlie       25       51       41     80
8   Corrine       39       16       22     49
9      Tate       35       25       37     27

In [ ]:
df[1:10:2]

       Name  Science  English  History  Maths
1    Lemmie       29       41       17     40
3     Denna       15       53       82     33
5   Malissa       98       51       85     76
7  Beverlie       25       51       41     80
9      Tate       35       25       37     27

**Slicing Particular Columns**

In [ ]:
df[["Name","Science"]][1:6]

      Name  Science
1   Lemmie       29
2    Danya       12
3    Denna       15
4  Jocelin       43
5  Malissa       98

**Acessing one row data**

In [ ]:
df.loc[0]

Name       Bronnie
Science         21
English         81
History         62
Maths           49
Name: 0, dtype: object

**If we want data we can use iterrows**

In [ ]:
for index,rows in df.iterrows():
      print(index,rows)

In [ ]:
for index,rows in df.iterrows():
      print(index,rows["Name"])

In [ ]:
df.loc[df["Science"]==21]

**Sorting DataFrame By Column**

**Sorting **

In [ ]:
df.sort_values("Name")

In [ ]:
df.sort_values("Science", ascending=False)

In [ ]:
df.sort_values(["Name","Science"] )

**Manipulating DataFrame In Pandas(add column, drop column)**

**Adding Column with default Value**

In [ ]:
df["Total_Marks"]=0

In [ ]:
df

**Summing Value**

In [ ]:
df["Total_Marks"] = df["Science"] + df["Maths"] + df["English"] + df["History"]

In [ ]:
df

**Deleting column**

In [ ]:
df.drop(columns="Total_Marks")

**Loc and ILoc label based**

In [ ]:
df.loc[2,"Science"]

12

In [ ]:
df.loc[0:4 ,["Name","Science"]]

      Name  Science
0  Bronnie       21
1   Lemmie       29
2    Danya       12
3    Denna       15
4  Jocelin       43

**Index based Slicing**

In [ ]:
df.iloc[0:4 ,0:4]

      Name  Science  English  History
0  Bronnie       21       81       62
1   Lemmie       29       41       17
2    Danya       12       87       16
3    Denna       15       53       82

In [ ]:
df.loc[1:3]

     Name  Science  English  History  Maths
1  Lemmie       29       41       17     40
2   Danya       12       87       16     96
3   Denna       15       53       82     33

In [ ]:
df.iloc[[1,3]]

     Name  Science  English  History  Maths
1  Lemmie       29       41       17     40
3   Denna       15       53       82     33

In [ ]:
df.iloc[:,[1,3]]

    Science  History
0        21       62
1        29       17
2        12       16
3        15       82
4        43        3
5        98       85
6        38       54
7        25       41
8        39       22
9        35       37
10      100       87
11       19       78
12       65       96
13       93       39
14       98       84
15       53       90
16       91       44
17        5       25
18       62       75
19       41       17
20       76       67
21        3       14
22        5       19
23       48       79
24       17       16
25       16       18
26       93       83
27       60       86
28       19       76
29       95       25
30       14        9
31       17       45
32       17       11
33       54       46
34        5       13
35       93       10
36       54       19
37       90       45
38       71       78
39      100       89
40       10       56
41       21       72
42       43       17
43       26       81
44       65       57
45       50       50
46       84       25
47       78        1
48       81       99
49       94       66
50       31       77
51       17       29
52       15       40
53       23       76
54       55       56

**Remove Duplicates From DataFrame**

In [ ]:
p = pd.read_excel("/content/drive/MyDrive/Dataset/MissingData.xlsx")

In [ ]:
df = pd.DataFrame(p)

In [ ]:
print(df)

**Deleting missing Values Data**

In [ ]:
df.dropna()

In [ ]:
print(df)

**if we want to affect the data we can use inplace**

In [ ]:
#df.dropna(inplace=True)

In [ ]:
print(df)

**Dropping Particular Values**

In [ ]:
df["Science"].dropna()

**Deleting Multiple Rows**

In [ ]:
df.loc[:,["Science","Maths"]].dropna()

In [ ]:
print(df)

**Giving Default Values**

In [ ]:
df.fillna("Missing")

In [ ]:
df["Science"].fillna("Missing")

In [ ]:
df.loc[:,["Science","Maths"]].fillna("Missing")

In [ ]:
df["Science"].fillna(df["Science"].mean())

**Removing Duplicates**

In [ ]:
df

**Checking duplicates are there**

In [ ]:
df.duplicated()

**Removing Duplicates**

In [ ]:
df.drop_duplicates()

**Data Filtering Using Conditions**

Using Loc

In [ ]:
df.loc[df["Science"]<60]

In [ ]:
df.loc[(df["Science"]<60) & (df["History"]<60)]

In [ ]:
df.loc[(df["Science"]<60) | (df["History"]<60)]

In [ ]:
df.loc[(df["Science"]<60) & (df["History"]<60) & (df["Maths"]>50)]

In [ ]:
df.loc[df["Name"].str.contains("a")]

In [ ]:
df.loc[~df["Name"].str.contains("a")]

In [ ]:
df.loc[df["Name"].str.startswith("B")]

**Conditional Changes **

In [ ]:
print(df)

In [ ]:
df["Total"] = df["English"]  + df["Maths"] + df["Science"] + df["Science"]

In [ ]:
print(df)

In [ ]:
df["Percentage"] = (df["Total"]/500)*100

In [ ]:
print(df)

In [ ]:
df["Grade"] = "None"

In [ ]:
df

In [ ]:
"""
<30 - Fail
>40 & <45 - pass
>45 - Fail
"""

In [ ]:
df.loc[df["Percentage"]<30,["Grade"]] = "Fail"
print(df)

In [ ]:
df.loc[(df["Percentage"]<40) & (df["Percentage"]<45), df["Grade"]] = "Pass"

In [ ]:
print(df)

In [ ]:
df