<a href="https://colab.research.google.com/github/vijaya-123-bg/Python-course-/blob/main/scratchpad.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tuple=("apple","banana","grapes")
print(tuple)

('apple', 'banana', 'grapes')

In [2]:
tuple=("apple","banana","grapes","apple","banana")
print(tuple)

('apple', 'banana', 'grapes', 'apple', 'banana')

In [3]:
tuple=("apple","banana","cherry")
print(len(tuple))

3

In [4]:
tuple=("banana",)
print(type(tuple))
tuple=("banana")
print(type(tuple))

<class 'tuple'>
<class 'str'>

In [7]:
tuple1=("banana","cherry")
tuple2=(1,2)
tuple3=(True,False)
tuple=tuple1+tuple2+tuple3
print(tuple)

('banana', 'cherry', 1, 2, True, False)

In [10]:
tuple=("banana","grapes","pinaple")
print(tuple[-3])

banana

In [20]:
tiuple=("banana","dragun","kiwi","black berry","water melon","black cherry")
print(tiuple[2:3])

('kiwi',)

In [22]:
a=2
for i in range(1,11):
print("a",*,"i",a+i)

IndentationError: expected an indented block after 'for' statement on line 2 (<ipython-input-22-73f943856927>, line 3)