<a href="https://colab.research.google.com/github/vijaya-123-bg/Python-course-/blob/main/Untitled35.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**TUPLES**

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with peranthasis symbol or round brackets

**Create a Tuple:**

In [9]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

Tuple items are ordered, unchangeable, and allow duplicate values. Tuple items are indexed, the first item has index [0], the second item has index [1] etc. When we say that tuples are ordered, it means that the items have a defined order, and that order will not change. Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created. Since tuples are indexed, they can have items with the same value:

In [10]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [12]:
thistuple=("apple","banana","berry","apple","banana","berry")
print(len(thistuple))

6

In [13]:
thistuple=("apple")
print(type(thistuple))

<class 'str'>

In [15]:
thistuple=(6105)
print(type(thistuple))

<class 'int'>

In [16]:
x=("apple","banana","cherry")
y=list(x)
y[1]="grapes"
print(y)

['apple', 'grapes', 'cherry']

In [ ]:
thistuple=("apple","banana","cherry")
y=list(thistuple)
y.append("orange")
print(y)